{% extends "layout.html.j2" %}

{% block title %}
  Sorry
{% endblock %}

{% block content %}
  <h1>Access denied</h1>
  <form action="/login" method="post">
    <p>
      <input type="email" name="email" id="email" placeholder="Email">
    </p>
    <p>
      <input type="password" name="password" id="password" placeholder="Password">
    </p>
    <p>
      <input type="submit" value="Submit">
    </p>
  </form>
{% endblock %}
