{% extends "layout.html.j2" %}

{% block title %}
  Welcome Page
{% endblock %}

{% block content %}
  <h1>Proxy Stats</h1>
  <p>Hello {{ name | default('admin') }}</p>
  <h3>Subdomains</h3>
  <ul>
  {% for subdomain in subdomains %}
    <li>
      <a href="http://{{ subdomain }}.lvh.me:8080/">{{ subdomain }}.lvh.me</a>
    </li>
  {% endfor %}
  </ul>
  <h3>Clients</h3>
  <ul>
  {% for client in clients %}
    <li>
      {{ client }}
    </li>
  {% endfor %}
  </ul>
{% endblock %}
